<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
  <button type="submit" class="btn btn-danger btn-lg" (click)="goBack()">delete</button>

  <button type="submit" class="btn btn-info btn-lg" (click)="goBack()">go back</button>
</div>
