<div *ngIf="messageService.messages.length">
  <div class="info-msg" *ngFor='let message of messageService.messages'>
    <i class="fa fa-info-circle"></i> {{message}} </div>
  <button class="clear" (click)="messageService.clear()">clear the messages</button>
</div>
