
<div class="addUser">
  <p class="title">Add a user</p>
  <label>id:
    <input type="number" [(ngModel)]="user.id" placeholder="id"/>
  </label>
  <label>name:
    <input type="text" [(ngModel)]="user.name" placeholder="name"/>
  </label>
  <button (click)="addUser()">Add</button>
</div>
