<h2>All Users</h2>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAddUser">Add user</button>
<div class="grid_area">
  <ul class="grid">
    <li *ngFor="let user of users">
      <div>
        <a class="" routerLink="/detail/{{user.id}}">
          {{user.id}} - {{user.name}}
        </a>
      </div>
    </li>
  </ul>
</div>

<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-user-add></app-user-add>
      </div>
    </div>
  </div>
</div>

