*{
  box-sizing: border-box;
}
.grid_area{
  .grid{
    max-width: 76em;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    li {
      padding: 0 0.5em 0.5em 0;
      list-style-type: none;
      > div {
        background: #17a2b8;
        padding: 7em 2em;
        text-align: center;
        height: 18em;
        > a {
          margin: auto;
          font-size: 1.5em;
          letter-spacing: 1.2px;
          word-spacing: 2px;
          color: #ffffff;
          font-weight: 400;
          text-decoration: none;
          font-style: normal;
          font-variant: normal;
          text-transform: none;
        }
      }
    }
  }

  @media all and (min-width: 27em) {
    .grid{
      li{
        width: 50%;
        float: left;
      }
    }
  }

  @media all and (min-width: 40em) {
    .grid{
      li{
        width: 33.3333333%;
        &.wide{
          width: 66.666666%;
        }
      }
    }
  }

  @media all and (min-width: 60em) {
    .grid{
      li {
        width: 25%;
        &.wide{
          width: 50%;
        }
      }
    }
  }
}
