<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/dashboard">ICTCG-Dashboard</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users Management</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Another Tool</a>
      </li>

    </ul>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalConnexion">Connexion
    </button>
  </div>

  <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <app-connexion></app-connexion>
        </div>
      </div>
    </div>
  </div>
</nav>

